body, html {
	height: 100%;
}
.content {
	min-height: calc(100% - 108px);
	height: auto !important;
	height: 100%;
	position: relative;
}
.button {
	border-radius: 2px;
	color: $white;
}
.window-centered {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.breadcrumbs {
	a {
		letter-spacing: 0,04em;
	}
	li {
		&:not(:last-child):after {
			color: $dark-gray;
		}
		&.disabled {
			color: $dark-gray;
		}
	}
}

// login page styles