
// preventing flash of unstyled content
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.menu {
  li {  
    a {
      letter-spacing: 0.02em;
      font-weight: 400;
      color: $white;
      &.button {
        color: white;
        background-color: #6ab8f7;
        transition: background-color .2s ease-in;
        &:hover {
          background-color: lighten(#6AB8F7, 10%);
        }
      }
    }
    &.menu-text {
      // padding-top: 0;
      // padding-bottom: 0;
    }
  }
  > li {
    padding-top: 0;
    padding-bottom: 0;
    > a {
      transition: color .2s ease-in;
      color: rgba(255, 255, 255, .7);
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  &--home {
    li {
      padding: 0 .5rem;
    }
  }
}

.dropdown.menu {
  > li.is-dropdown-submenu-parent {
    > a {
      &:after {
        transition: border-color .2s ease-in;
        border-color: rgba(255, 255, 255, .7) transparent transparent;
        margin-top: -1px;
      } 
      &:hover {
        &:after {
          border-color: rgba(255, 255, 255, 1) transparent transparent;  
        }
      }
    }
  }
  .is-dropdown-submenu {
    border: none;
  }
}

.top-bar {
  &, & ul {
    background-color: get-color(primary-dark); 
  }
}

.user {
  > li {
    > a {
      padding-bottom: 0;
      padding-top: 4px;
      &:after {
        margin-top: 0;
        top: 52%;
      }
    }
  }
  .user-name {
    display: inline-block;
    color: $white;
  }
}
.avatar {
  width: 30px;
  border-radius: 50%;
}

.menu-icon {
  &:after {
    transition: .2s ease-in;
    transition-property: background, box-shadow;
  }
  &:hover {
    &:after {
      background-color: rgba(255, 255, 255, .7);
      box-shadow: 0 7px 0 rgba(255, 255, 255, .7), 0 14px 0 rgba(255, 255, 255, .7);
    }
  }
}