.home {
	.banner {
		padding: 80px;
		background: url(../img/documents.jpg) center center no-repeat;
		background-size: cover;
		position: relative;
		.filter {
			background-color: rgba(255, 255, 255, 1);
			opacity: .5;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
		}
		.row {
			position: relative;
			z-index: 1;
		}
	}
	.about {
		padding: 40px 0;
	}
}