
@include add-foundation-colors;  

.menu-text.show-for-large {
	padding-left: 0.9rem;
	padding-right: 0.9rem;
}
.secondary-navigation {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: lighten(get-color(primary-dark), 5%);
}
.breadcrumbs {
	margin: 0;
	padding: 15px 0;
}
.project-main {
	.main-content {
		width: calc(100% - 63px);
		transform: translateX(63px);
		overflow: auto;
		transition: .2s ease-in-out;
		transition-property: width, transform;
		&.navigation-opened {
			width: calc(100% - 183px);
			transform: translateX(183px);
		}
	}
	.secondary-navigation {
		width: 183px; 
		transform: translateX(-122px);
		transition: transform .2s ease-in-out;
		&.opened {
			transform: translateX(0); 
		}
	}
	.project-navigation {
		.menu {
			a {
				padding-left: 0;
				padding-right: 0;
				background-color: lighten(get-color(primary-dark), 10%);
				color: $white;
				.icon {
					i[class*=fi-] {
						display: inline-block;
						margin: 0;
						font-size: 22px;
					}	
				}
				&:hover {
					background-color: lighten(get-color(primary-dark), 15%);
				}
			}
		}
	}
}

.project-main {
	.medium-up-5 {
		.column { 
			margin-bottom: 15px;
			.wrapper {
				border-radius: 2px;
				padding: 15px 10px;
				background-color: $white;
				border: 1px solid rgba(0, 0, 0, .125);
				height: 100%;
			}
			&-title {
				line-height: 1;
				margin-bottom: 15px;
			}
		}
	}
}
.task {
	border: 1px solid rgba(0, 0, 0, .125);
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 15px;
	background-color: $light-gray;
	position: relative;
	&:nth-of-type(1) {
		.color {
			background-color: purple;
		}
	}
	&:nth-of-type(2) {
		.color {
			background-color: gold;
		}
	}
	&:nth-of-type(3) {
		.color {
			background-color: wheat;
		}
	}
	&:nth-of-type(3) {
		.color {
			background-color: aqua;
		}
	}
	.color {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		background-color: get-color(primary-dark);
	}
}