<div class="row">
	<div class="column medium-centered medium-6">
		<form action="#" class="create-form" method="POST">
			<div class="form-group">
				<label class="row" for="faculty">
					<span class="column medium-3 form-label">Факультет</span>
					<span class="column medium-9">
						<select class="form-field" name="faculty" id="faculty">
							<option value="rtsla">РТСЛА</option>
							<option value="sula">СУЛА</option>
						</select>
					</span>
				</label>
				<label class="row" for="department">
					<span class="column medium-3 form-label">Кафедра</span>
					<span class="column medium-9">
						<select class="form-field" name="department" id="department">
							<option value="k503">Систем и сетей (к503)</option>
							<option value="k504">Сетей и систем (к504)</option>
						</select>
					</span>
				</label>
			</div>
			<div class="form-group">
				<label class="row" for="title">
					<span class="column medium-3 form-label">Заглавие</span>
					<span class="column medium-9">
						<input type="text" placeholder="Заглавие" name="title" class="form-field">
					</span>
				</label>
				<label class="row" for="description">
					<span class="column medium-3 form-label">Описание</span>
					<span class="column medium-9">
						<textarea placeholder="Описание тикета" name="description" class="form-field"></textarea>
					</span>
				</label>
				<label class="row" for="document">
					<span class="column medium-3 form-label">Документ</span>
					<span class="column medium-9">
						<input type="file" placeholder="Описание тикета" name="document" class="form-field">
					</span>
				</label>
			</div>
			<div class="form-group row">
				<div class="column">
					<h4 class="form-title">Рецензенты</h4>
				</div>
				<div class="column medium-6">
					<select class="form-field" name="name" id="name">
						<option value="ivan">Иванов Иван</option>
						<option value="stepan">Степан Петрович</option>
					</select>
				</div>
				<div class="column medium-6">
					<select class="form-field" name="signature-1" id="signature-1">
						<option value="signature-1">Подпись</option>
						<option value="signature-2">Подпись</option>
					</select>
				</div>
				<div class="column medium-6">
					<select class="form-field" name="name" id="name">
						<option value="stepan">Степан Петрович</option>
						<option value="ivan">Иванов Иван</option>
					</select>
				</div>
				<div class="column medium-6">
					<select class="form-field" name="signature-2" id="signature-2">
						<option value="signature-1">Подпись</option>
						<option value="signature-2">Подпись</option>
					</select>
				</div>
				<div class="column">
					<input type="submit" class="button" value="Добавить">
				</div>
			</div>
		</form>
	</div>
</div>