---
title: Main
breadcrumbs: false
---
<section class="department-list">
	<div class="row">
		<div class="small-12 columns">
			{{> breadcrumbs}}
		</div>
		<div class="small-12 columns">
			<h2 class="section-title">Кафедры факультета РТСЛА</h2>
			<table class="table">
			  <thead>
			    <tr>
			      <th>Название</th>
			      <th>Описание</th>
			      <th>Тикеты (кол.)</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><a href="{{root}}project-main.html">Кафедра 1</a></td>
			      <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
			      <td>Lorem ipsum.</td>
			    </tr>
			    <tr>
			    	<td><a href="{{root}}project-main.html">Кафедра 2</a></td>
			    	<td>Lorem ipsum.</td>
			      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
			    </tr>
			    <tr>
			    	<td><a href="{{root}}project-main.html">Кафедра 3</a></td>
			    	<td>Lorem ipsum dolor sit amet, consectetur.</td>
			      <td>Lorem ipsum.</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</section>