---
title: Main
breadcrumbs: false
---
<section class="faculty-list">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="section-title">Факультеты</h2>
		</div>
		{{#repeat 5}}
		<a href="{{root}}department.html" class="small-12 medium-4 columns">
			<div class="card">
			  <img src="http://placehold.it/650x250">
			  <div class="card-section">
			    <h4>РТСЛА</h4>
			  </div>
			</div>
		</a>
		{{/repeat}}
		<a href="{{root}}department.html" class="small-12 medium-4 columns end">
			<div class="card">
			  <img src="http://placehold.it/650x250">
			  <div class="card-section">
			    <h4>СУЛА</h4>
			  </div>
			</div>
		</a>
	</div>
</section>