<section class="banner">
	<div class="filter"></div>
	<div class="row">
		<div class="medium-6 columns">
			<h1>Univercity DocFlow</h1>
			<p>Организуйте документооборот университета</p>
		</div>
		<div class="medium-6 columns">
			<form id="login-form" class="login-form" action="#" method="POST">
		  	<div>
		  		<h1>Войти в DocFlow</h1>
		  	</div>
		    <div>
		      <label>Email (или username)
		        <input required type="text" placeholder="Email (or username)">
		      </label>
		    </div>
		    <div>
		      <label>Пароль
		        <input required type="password" placeholder="Password">
		      </label>
		    </div>
		    <div>
		    	<input type="submit" class="button" value="Submit">
		    	<div>
		    		<em>Забыли пароль?</em>
		    	</div>
		    	<a href="#">Восстановите его.</a>
		    </div>
		    <div>
		    	<div class="subheader">Тут будет возможность войти через социальные сети.</div>
		    </div>
		</form>
		</div>
	</div>
</section>

<section class="about">
	<div class="row">
		<div class="medium-6 columns">
			<h2 class="section-title">Особенности:</h2>
			<ul>
				<li>Автоматизация подписи и просмотра документов</li>
				<li>Поиск по кафедрам и факультетам</li>
				<li>Оповещение пользователей о необходимых действиях</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<h2 class="section-title">Будет полезен для</h2>
			<ul>
				<li>Преподавателей</li>
				<li>Деканов и зам. деканов</li>
				<li>Учебного центра</li>
			</ul>
		</div>
	</div>
</section>