---
title: Main
breadcrumbs: false
---
<section class="featured-projects">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="section-title">Закрепленные</h2>
		</div>
		{{#repeat 7}}
		<a href="{{root}}project-main.html" class="small-12 medium-4 large-3 columns">
			<div class="card">
			  <div class="card-divider">
			    Это заголовок
			  </div>
			  <img src="http://placehold.it/650x250">
			  <div class="card-section">
			    <h4>А это карточка.</h4>
			    <p>Здесь будет описание карточки.</p>
			  </div>
			</div>
		</a>
		{{/repeat}}
		<a href="{{root}}project-main.html" class="small-12 medium-4 large-3 columns end">
			<div class="card">
			  <div class="card-divider">
			    Это заголовок
			  </div>
			  <img src="http://placehold.it/650x250">
			  <div class="card-section">
			    <h4>А это карточка.</h4>
			    <p>Здесь будет описание карточки.</p>
			  </div>
			</div>
		</a>
	</div>
</section>
<section class="all-projects">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="section-title">Все</h2>
		</div>
		{{#repeat 7}}
		<a href="{{root}}project-main.html" class="small-12 medium-4 large-3 columns">
			<div class="card">
			  <div class="card-divider">
			    Это заголовок
			  </div>
			  <img src="http://placehold.it/650x250">
			  <div class="card-section">
			    <h4>А это карточка.</h4>
			    <p>Здесь будет описание карточки.</p>
			  </div>
			</div>
		</a>
		{{/repeat}}
		<a href="{{root}}project-main.html" class="small-12 medium-4 large-3 columns end">
			<div class="card">
			  <div class="card-divider">
			    Это заголовок
			  </div>
			  <img src="http://placehold.it/650x250">
			  <div class="card-section">
			    <h4>А это карточка.</h4>
			    <p>Здесь будет описание карточки.</p>
			  </div>
			</div>
		</a>
	</div>
</section>