<div class="row expanded window-centered">
	<div class="small-12 medium-6 large-4 columns medium-centered">
		<form id="login-form" class="login-form" action="#" method="POST">
			<div>
				<h1>Войти в DocFlow</h1>
			</div>
			<div>
				<label>Email (или username)
					<input required type="text" placeholder="Email (or username)">
				</label>
			</div>
			<div>
				<label>Пароль
					<input required type="password" placeholder="Password">
				</label>
			</div>
			<div>
				<input type="submit" class="button" value="Submit">
				<div>
					<em>Забыли пароль?</em>
				</div>
				<a href="#">Восстановите его.</a>
			</div>
			<div>
				<div class="subheader">Тут будет возможность войти через социальные сети.</div>
			</div>
		</form>
	</div>
</div>