---
title: Project 1
breadcrumbs: true
---
<div class="row expanded medium-up-5 small-up-1">
	<div class="column column-block">
		<div class="wrapper">
			<h4 class="column-title">Новые</h4>
			{{#repeat 5}}
			<div class="card task">
				<h5 clas="task-title">Документ</h5>
				<p class="tasl-description">Здесь будет какой-то текст.</p>
				<span class="color"></span>
			</div>
			{{/repeat}}
		</div> 
	</div>

	<div class="column column-block">
		<div class="wrapper">
			<h4 class="column-title">Рассматривается</h4>
			{{#repeat 2}}
			<div class="card task">
				<h5 clas="task-title">Документ</h5>
				<p class="tasl-description">Здесь будет какой-то текст.</p>
				<span class="color"></span>
			</div>
			{{/repeat}}
		</div> 
	</div>

	<div class="column column-block">
		<div class="wrapper">
			<h4 class="column-title">Рассмотрено</h4>
			{{#repeat 3}}
			<div class="card task">
				<h5 clas="task-title">Документ</h5>
				<p class="tasl-description">Здесь будет какой-то текст.</p>
				<span class="color"></span>
			</div>
			{{/repeat}}
		</div> 
	</div>

	<div class="column column-block">
		<div class="wrapper">
			<h4 class="column-title">В обработке</h4>
			{{#repeat 5}}
			<div class="card task">
				<h5 clas="task-title">Документ</h5>
				<p class="tasl-description">Здесь будет какой-то текст.</p>
				<span class="color"></span>
			</div>
			{{/repeat}}
		</div> 
	</div>

	<div class="column column-block">
		<div class="wrapper">
			<h4 class="column-title">Закрыто</h4>
			{{#repeat 2}}
			<div class="card task">
				<h5 clas="task-title">Документ</h5>
				<p class="tasl-description">Здесь будет какой-то текст.</p>
				<span class="color"></span>
			</div>
			{{/repeat}}
		</div> 
	</div>
</div>