<footer class="site-footer">
	<div class="row expanded">
		<div class="small-12 columns menu-centered">
			<ul class="menu">
				<li><a href="{{root}}/home.html">Главная</a></li>
			  <li><a href="#">О проекте</a></li>
			  <li><a href="#">Блог</a></li>
			  <li><a href="#">Разработчики</a></li>
			  <li><a href="#">FAQ</a></li>
			</ul>
		</div> 
		<div class="small-12 columns text-center copyright">&copy; 2017, DocFlow. Все права защищены.</div>
	</div>
</footer>