<header class="site-header">
	<div class="row expanded">
		<div class="title-bar" data-responsive-toggle="primary-menu" data-hide-for="large">
		  <button class="menu-icon" type="button" data-toggle="primary-menu"></button>
		  <div class="title-bar-title">Меню</div>
		</div>

		<div class="top-bar" id="primary-menu">
		  <div class="top-bar-left">
		    <ul class="dropdown menu" data-dropdown-menu>
		    	{{#ifpage 'project-main'}}
		    	<li class="menu-text show-for-large">
		    		<button type="button" class="menu-icon" data-toggle="project-navigation"></button>
		    	</li>
		    	{{/ifpage}}
		      <li><a href="{{root}}home.html">Главная</a></li>
		      <li><a href="{{root}}faculty.html">Факультеты</a></li>
		      <li>
		        <a href="#">Проекты</a>
		        <ul class="menu vertical">
		          <li><a href="{{root}}project-main.html">Проект 1</a></li> 
		          <li><a href="#">Два</a></li>
		          <li><a href="#">Три</a></li>
		          <li><a class="button" href="#">Новый</a></li>
		        </ul>
		      </li>
		      <li>
		      	<a href="#">Задачи</a>
		      	<ul class="menu vertical">
		          <li><a href="#">Один</a></li>
		          <li><a href="#">Два</a></li>
		          <li><a href="#">Три</a></li>
		          <li><a class="button" href="#">Новая</a></li>
		        </ul>
		      </li>
		      <li class="menu-text"><a href="{{root}}/create.html" class="button">Создать</a></li>
		    </ul>
		  </div>
		  <div class="top-bar-right">
		  	<div class="dropdown menu user" data-dropdown-menu>
		  		<li>
		  			<a href="#">
		  				<img class="avatar" src="http://creativestockphoto.com/wp-content/uploads/2014/10/images-of-man-and-woman-in-love.jpg" alt="man">
		  				<span class="user-name">Константин</span>
		  			</a>
		  			<ul class="menu vertical">
					  	<li><a href="#"><i class="fi-widget"></i>Настройки</a></li>
					  	<li><a href="#"><i class="fi-unlock"></i>Выйти</a></li> 
					  </ul>
		  		</li>
				  
				</div>
		  </div>
		</div>
	</div>
</header>