<header class="site-header">
	<div class="row expanded">
		<div class="title-bar" data-responsive-toggle="primary-menu" data-hide-for="large">
		  <button class="menu-icon" type="button" data-toggle="primary-menu"></button>
		  <div class="title-bar-title">Меню</div>
		</div>

		<div class="top-bar" id="primary-menu">
		  <div class="top-bar-left">
		    <ul class="menu">
		      <li><a href="../">DocFlow</a></li>
		    </ul>
		  </div>
		  <div class="top-bar-right">
		    <ul class="menu menu--home">
		      <li>
		      	<a class="button" href="{{root}}login.html">Войти</a>
		      </li>
		      <li>
		      	<a class="button" href="{{root}}login.html">Зарегистрироваться</a>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
</header>