<nav class="project-navigation">
	<ul class="menu vertical">
	  <li>
	  	<a href="#" class="row">
	  		<span class="text medium-8 columns">Задачи</span>
	  		<span class="medium-4 columns text-center icon" title="Issues">
	  			<i class="fi-database"></i>	 
	  		</span> 
	  	</a>
	  </li>
	  <li>
	  	<a href="#" class="row">
	  		<span class="text medium-8 columns">Участники</span>
	  		<span class="medium-4 columns text-center icon" title="Members">
	  			<i class="fi-torsos"></i>	
	  		</span>
	  	</a>
	  </li>
	  <li>
	  	<a href="#" class="row">
	  		<span class="text medium-8 columns">Архив</span>
	  		<span class="medium-4 columns text-center icon" title="Archive">
	  			<i class="fi-trash"></i>	
	  		</span>
	  	</a>
	  </li>
	  <li>
	  	<a href="#" class="row">
	  		<span class="text medium-8 columns">Настройки</span>
	  		<span class="medium-4 columns text-center icon" title="Settings">
	  			<i class="fi-widget"></i>	  
	  		</span>
	  	</a>
	  </li>
	</ul>
</nav>