<div class="row expanded show-for-medium">
    <div class="small-12 columns">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Закрепленные</a></li>
                <li class="disabled"><span class="show-for-sr">Текущая: </span> Задача</li>
            </ul>
        </nav>
    </div>
</div>