<section class="department-list">
    <div class="row">
        <div class="small-12 columns">
        </div>
        <div class="small-12 columns">
            <h2 class="section-title">Кафедры факультета РТСЛА</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Название</th>
                </tr>
                </thead>
                <tbody>
                {{#each departments}}
                    <tr>
                        <td><a href="#board/{{id}}">Кафедра 1</a></td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                        <td>Lorem ipsum.</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>