<section class="faculty-list">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="section-title">Факультеты</h2>
        </div>
        {{#each faculties}}
        <a href="#department/{{id}}" class="small-12 medium-4 columns">
            <div class="card">
                <img src="http://placehold.it/650x250">
                <div class="card-section">
                    <h4>{{description}}</h4>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</section>