<div class="row expanded">
    <div class="title-bar" data-responsive-toggle="primary-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle="primary-menu"></button>
        <div class="title-bar-title">Меню</div>
    </div>

    <div class="top-bar" id="primary-menu">
        <div id="top-nav"/>
        <div class="top-bar-right">
            <div class="dropdown menu user" id="user" data-dropdown-menu>
                <!-- user view -->
            </div>
        </div>
    </div>
</div>