<header class="site-header" />

<div class="content">
    <div class="project-nav"></div>

    <main class="main-content">
        <div class="app-breadcrumbs" />
        <div class="board" />
    </main>
</div>

<footer class="site-footer"></footer>