<ul class="dropdown menu" data-dropdown-menu>
    {{#if onBoard}}
        <li class="menu-text show-for-large">
            <button type="button" class="menu-icon" data-toggle="project-navigation"></button>
        </li>
    {{/if}}
    <li><a href="../">Главная</a></li>
    <li><a href="#">Управление</a></li>
    <li>
        <a href="#">Проекты</a>
        <ul class="menu vertical">
            <li><a href="project-main.html">Проект 1</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
            <li><a class="button" href="#">Новый</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Задачи</a>
        <ul class="menu vertical">
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
            <li><a class="button" href="#">Новая</a></li>
        </ul>
    </li>
    <li class="menu-text"><a href="#create" class="button">Создать</a></li>
</ul>