<a href="#">
    <img class="avatar"
         src="http://creativestockphoto.com/wp-content/uploads/2014/10/images-of-man-and-woman-in-love.jpg" alt="man">
    <span class="user-name">Константин</span>
</a>
<ul class="menu vertical">
    <li><a href="#"><i class="fi-widget"></i>Настройки</a></li>
    <li><a href="#"><i class="fi-unlock"></i>Выйти</a></li>
</ul>